{% extends "Music/baseMusic.html.twig" %}

{% block contenido %}
    <h2>Metallica!!</h2>
    <div class="row row-cols-1 row-cols-md-2">
        {% for music in music %}
            <div class="col mb-4">
                <div class="card" style="width: 18rem;">
                    <img src="{{music.pic}}">
                    <div class="card-body">
                        <h5 class="card-title">{{ music.name }}</h5>
                        <p class="card-text">{{ music.instrument }}</p>
                        <p class="card-text">{{ music.origin }}</p>
                        <p class="card-text">{{ music.age }}</p>
                        <a href="#" class="btn btn-primary">Más Info</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
